<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{job.title}} - YwY Careers</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="container">

        <h1 class="text-center mt-2 mb-4">
            {{job.title}}
        </h1>
        <br>

        <div class="row justify-content-start">
            <h4 class="col-4" style="padding-left: 200px;">
                Location
            </h4>
            <p class="col-6 lead">
                {{job.location}}
            </p>
        </div>
        <br>

        <div class="row justify-content-start">
            <h4 class="col-4" style="padding-left: 200px;">
                Responsibilities
            </h4>
            <!-- 无序列表 -->
            <ul class="col-6 lead">
                {% for line in job.responsibilities.split("\n") %}
                <li>{{line}}</li>
                {% endfor %}
            </ul>
        </div>
        <br>

        <div class="row justify-content-start">
            <h4 class="col-4" style="padding-left: 200px;">
                Requirements
            </h4>
            <!-- 有序列表 -->
            <ol class="col-6 lead">
                {% for line in job.requirements.split("\n") %}
                    <li>{{line}}</li>
                {% endfor %}
            </ol>
        </div>
        <br>

        <div class="row justify-content-start">
            <h4 class="col-4" style="padding-left: 200px;">
                Salary
            </h4>
            <p class="col-6 lead">
                {{job.currency}}{{job.salary}}
            </p>
        </div>

        <br><br><br><br>
        {% include 'application_form.html' %}
    </div>
    {% include 'footer.html' %}
</body>
</html>